[submodule "extern/glm"]
	ignore = dirty
	path = extern/glm
	url = https://github.com/g-truc/glm.git
[submodule "extern/easyloggingpp"]
	ignore = dirty
	path = extern/easyloggingpp
	url = https://github.com/gtlugo/easyloggingpp.git
[submodule "extern/glfw"]
	path = extern/glfw
	url = https://github.com/glfw/glfw.git
